<div class="portada_galeria">
    <h1>¡Sin campo no hay ciudad!</h1>
</div>

<div class="gallery-lightbox-container">
    <div class="gallery">
        <div class="gallery-img">
            <img src="assets/Galeria/15.jpeg" alt="">
            <img src='assets/Galeria/24.jpg'>
            <img src='assets/Galeria/25.jpg'>
            <img src='assets/Galeria/2.jpeg'>
            <img src='assets/Galeria/26.jpg'>
            <img src='assets/Galeria/27.jpg'>
            <img src='assets/Galeria/3.jpeg'>
            <img src='assets/Galeria/1.jpeg'>
            <img src='assets/Galeria/16.jpeg'>
            <img src='assets/Galeria/4.jpeg'>
            <img src='assets/Galeria/5.jpeg'>
            <img src='assets/Galeria/6.jpg'>
            <img src='assets/Galeria/7.jpeg'>
            <img src='assets/Galeria/8.jpeg'>
            <img src='assets/Galeria/9.jpeg'>
            <img src='assets/Galeria/10.jpeg'>
            <img src='assets/Galeria/11.jpg'>
            <img src='assets/Galeria/12.jpg'>
            <img src='assets/Galeria/13.jpg'>
            <img src='assets/Galeria/14.jpeg'>
            <img src='assets/Galeria/17.jpeg'>
            <img src='assets/Galeria/18.jpeg'>
            <img src='assets/Galeria/19.jpeg'>
        </div>
    </div>
</div>
