<div class="slideshow-container" >
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="assets/servicio/ecografo.jpeg" alt="">
        <div class="text">
            <h1>Servicio 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa architecto asperiores, accusantium rerum saepe ipsam quae porro provident, impedit esse facilis, quam incidunt iste veniam harum et. Maxime, asperiores nisi.</p>
        </div>
    </div>
    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="assets/servicio/ensilaje.jpg" alt="">
        <div class="text">
            <h1>Servicio 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa architecto asperiores, accusantium rerum saepe ipsam quae porro provident, impedit esse facilis, quam incidunt iste veniam harum et. Maxime, asperiores nisi.</p>
        </div>
    </div> 
    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="assets/servicio/inseminacion.jpg" alt="">
        <div class="text">
            <h1>Servicio 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa architecto asperiores, accusantium rerum saepe ipsam quae porro provident, impedit esse facilis, quam incidunt iste veniam harum et. Maxime, asperiores nisi.</p>
        </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a> 
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align: center;">
    <span class="dot" onclick="currentSlides(1)"></span>
    <span class="dot" onclick="currentSlides(2)"></span>
    <span class="dot" onclick="currentSlides(3)"></span>
</div>

<div class="contenido">
    <h1>NUESTROS SERVICIOS</h1>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi pariatur nihil consectetur laudantium laborum quibusdam nam! Quis, ea aperiam quo earum ad aspernatur, iure rerum officiis non aliquid doloribus hic.
        Consequatur voluptate numquam nostrum nihil. Nesciunt, dolor? Veritatis minima inventore dolores neque numquam nam sunt nesciunt eaque. Beatae ea quo, deleniti similique rem facilis neque nesciunt delectus culpa qui quisquam?
        Ipsum sed eveniet at voluptate molestias officiis, velit id eaque suscipit amet magni quibusdam nam illum adipisci sit officia, qui enim mollitia exercitationem! Odio quia, expedita impedit eius adipisci sequi! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis magnam facere exercitationem, voluptatem ullam eligendi autem assumenda magni pariatur, rem labore libero dolorem commodi fuga aperiam quae quam odio quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod officia voluptatum veritatis perferendis consequatur qui labore, veniam tempore? Possimus nobis, rem aspernatur ipsum officia voluptatum cupiditate tempore maxime unde quia? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, totam reiciendis dicta deleniti nostrum nihil delectus consequuntu.
    </p>
</div>