<app-slides></app-slides>
<div id=quienes_somos>
    <div class="titulo1"><h1>¿QUIÉNES SOMOS?</h1></div>
    <div class="card-container">
        <div class="card">
            <div class="content">
                <h3>Misión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h3>Visión</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur </p>
            </div>
        </div>
    </div>
    
        
    <div class="contenido">
        <h1>NUESTRA HISTORIA</h1>
        <p> Cogansonorte inició actividades hace 20 años y hace apología a la visión que tiene Bernardo Kliksberg, asesor en políticas de desarrollo del programa de Naciones Unidas para el desarrollo (PNUD), quien considera que el esquema asociativo o las cooperativas pueden ser la solución a los desequilibrios económicos que enfrenta el mundo porque representan una nueva forma de producción y una garantía de empleo.
            <br>La asociatividad es un modelo que tiene claro  la Cooperativa de ganaderos del sur oriente del Norte de Santander, Cogansonorte, en el municipio de Toledo del Norte de Santander -frontera con Venezuela- y ha sido un caso replicado en dicho departamento. Incluso fue seleccionado y visitado por representantes del Banco Mundial como caso de estudio del esquema de alianzas productivas. Cogansonorte inició actividades hace 20 años y hace apología a la visión que tiene Bernardo Kliksberg, asesor en políticas de desarrollo del programa de Naciones Unidas para el desarrollo (PNUD), quien considera que el esquema asociativo o las cooperativas pueden ser la solución a los desequilibrios económicos que enfrenta el mundo porque representan una nueva forma de producción y una garantía de empleo.
            </p>
        <img src="assets/cooperativismo.png">
        
    </div>
    <div class="contenido2">
        <h1>COOPERATIVISMO</h1>
        <p> Cogansonorte inició actividades hace 20 años y hace apología a la visión que tiene Bernardo Kliksberg, asesor en políticas de desarrollo del programa de Naciones Unidas para el desarrollo (PNUD), quien considera que el esquema asociativo o las cooperativas pueden ser la solución a los desequilibrios económicos que enfrenta el mundo porque representan una nueva forma de producción y una garantía de empleo.
            <br>La asociatividad es un modelo que tiene claro  la Cooperativa de ganaderos del sur oriente del Norte de Santander, Cogansonorte, en el municipio de Toledo del Norte de Santander -frontera con Venezuela- y ha sido un caso replicado en dicho departamento. Incluso fue seleccionado y visitado por representantes del Banco Mundial como caso de estudio del esquema de alianzas productivas, Cogansonorte inició actividades hace 20 años y hace apología a la visión que tiene Bernardo Kliksberg, asesor en políticas de desarrollo del programa de Naciones Unidas para el desarrollo (PNUD), quien considera que el esquema asociativo o las cooperativas pueden ser la solución a los desequilibrios económicos que enfrenta el mundo porque representan una nueva forma de producción y una garantía de empleo.
            <br>La asociatividad es un modelo que tiene claro  la Cooperativa de ganaderos del sur oriente del Norte de Santander</p>
    z<img src="assets/ganadero2.jpg">
        </div>
    </div>

